    <nav class="nav-strip">
        <a href="/home/"><img class="logo nav-button" src="./media/Shop Shaq Logo Transparent.png" alt="logo"></a>
          <ul class="nav-container">
            <li class="nav-button"><a href="/menu/">MENU</a></li>
            <li class="nav-button"><a href="/career/">CAREER</a></li>
            <li class="nav-button"><a href="/about/">ABOUT</a></li>
            <li class="nav-button"><a href="/merch/">MERCH</a></li>
            <li class="nav-button"><a href="/cart/"><img class="cart" src="https://www.freeiconspng.com/uploads/green-shopping-cart-icon-5.png" alt="cart"></a></li>
          </ul>
      </nav>