:root {
    /* colors */
    --light-green: rgb(231, 255, 200);
    --dark-green: rgb(14, 140,11);
    --gray: rgba(216, 216, 216, 0.95);
    /* intentions */
    --primary: var(--light-green);
    --secondary: var(--dark-green);
    /* typography */
    --h1: 6.854rem;
    --h2: 4.236rem;
    --h3: 2.618rem;
    --h4: 1.618rem;
  }