<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://logodix.com/logo/538886.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <title>Shop Shaq</title>
</head>

<body>
{% include 'nav.njk' %}
<div  class="text-container">
  <h1>ABOUT US</h1>
  <h2 class="gen-text">     At Shop Shaq, we believe that food should be as disgusting as the people that eat it.  We only use the worst possible ingredients for the worst possible customers.  For more than 2 weeks, we’ve been personifying franchises and traumatizing screens and enjoying it too!
  </h2>
  <h3 class="slogan">Breaking your eyes and your will to live, one item at a time.</h3>
</div>

</body>
</html>