<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://logodix.com/logo/538886.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./style/style.css">
  <title>Shop Shaq</title>
</head>

<body>
{% include 'nav.njk' %}

<ul class="homeHero">
  <div class="home-container">
    {%- for featured in collections.featured -%}
    <img class="home-img" src="{{featured.data.url}}" alt="{{featured.data.item}}">
    <h2 class="home-item">{{featured.data.item}}</h2>
    <h4 class="home-price">Price: {{featured.data.price}}</h4>
    {%- endfor -%}
  </div>
</ul>

</body>
</html>