<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://logodix.com/logo/538886.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <title>Shop Shaq</title>
</head>

<body>
  {% include 'nav.njk' %}
  <div class="section-container">
    <div class="shopping-cart">
      <button class="">Clear Cart</button>
      <h4>Cart</h4>
      <h5 class="total"></h5>
      <div class="cart"></div>
    </div>
    <h1>MENU</h1>
    <ul class="foodMenu">
      {%- for food in collections.food -%}
      <div class="menu-card" id="{{food.data.id}}">
        <img class="menu-img" src="{{food.data.url}}" alt="{{food.data.item}}">
        <div class="card-text">
          <h2 class="menu-item">{{food.data.item}}</h2>
          <h3 class="menu-description">{{food.data.description}}</h3>
          <h4 class="menu-price">Price: {{food.data.price}}</h4>
        </div>
        <button type="button"><img class="add button"
            src="https://www.betterinboone.org/wp-content/uploads/2017/09/plus.png" alt=""></button>
      </div>
      {%- endfor -%}
    </ul>
  </div>

</body>
<script type="module" src="../js/main.js"></script>
</html>