<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="https://logodix.com/logo/538886.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style/style.css">
  <title>Shop Shaq</title>
</head>

<body>
  {% include 'nav.njk' %}
  <section class="">
    <div>
      <h1>MERCH</h1>
      <ul class="merchMenu">
        {%- for merch in collections.merch -%}
          <div class="">
            <img src="{{merch.data.url}}" alt="{{merch.data.item}}">
            <h2 class="menu-item" >{{merch.data.item}}</h2>
            <h3 class="menu-description" >{{merch.data.description}}</h3>
            <h4 class="menu-price" >Price: {{merch.data.price}}</h4>
          </div>
        {%- endfor -%}
</body>
</html>